[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/opt/kitty/kitty/launcher/kitty
StartupNotify=true
Exec=/opt/kitty/kitty/launcher/kitty
Icon=/opt/kitty/logo/kitty.png
Categories=System;TerminalEmulator;
